html{
    border: 10px solid rgb(2, 145, 137);
    /* height: 97.5%; */
    /* height: 100vh; */
}

.textnimg{
    /* display: flex; */
    margin-top: 1.2rem;
}
.textnimg h1{
    font-size: 2rem;
    margin-top: -1%;
    border-bottom: 2px solid black;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .2rem;
}

.cart-msg{
    text-align: center;
    margin-top: 15%;
    text-decoration: none;
}

.add-now{
    border-bottom: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .2rem;
    width: fit-content;
}

a{
    text-decoration: none;
    color: inherit;
}

.profile{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 3rem;
}

.homepage{
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    height: 3rem;
}


.recently_watched_div {
    /* border: 3px solid rgb(56, 224, 188); */
    border-radius: 1rem;
    padding-top: 1.2rem;
    white-space: nowrap;
    display: flex;
    padding-left: 2rem;
    overflow-x: hidden;
    margin-top: -1%;
    /* grid-template-columns:1fr 1fr 1fr; */
}

.recently_watched_div {
    padding-left: 1rem;
    padding-right: 2rem;
}
.imgntext:hover {
    scale: 1.1;
    z-index: 0;
    cursor: -webkit-grabbing;
}
.text2 {
    color: rgb(26, 54, 47);
    margin-top: -2%;
    z-index: 1;
}

.options {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin: .1%; */
    /* margin: 5rem; */
}

.options h3 {
    border: 1px solid blue;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: -1%;
}

.options h3:hover {
    border: none;
    background-image: linear-gradient(to right, rgb(0, 162, 255), rgb(32, 57, 126));
    color: white;
    scale: 1.1;
    border-radius: .1rem;
    cursor: -webkit-grabbing;
}


.Allitems{
    display: flex;
    border: 3px solid rgb(56, 224, 188);
    border-radius: 1rem;
    padding-top: 1.2rem;
    white-space: nowrap;
}